<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="KeyValueSeperator" value=":"/>
  <variable name="XPathDelemeter" value="|"/>
  <variable name="MessageFormat" value="4"/> <!--  ValuesOnly = 1, KeyValuePairs = 2, XML = 3,JSON = 4 -->
  <variable name="RepositoryPath" value=""/>
  <!-- No need to add any path. For this variable, value will be set at run time -->
  <variable name="EpiProcessName" value=""/>
  <!-- No need to add any path. For this variable, value will be set at run time -->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <!--
    Write events to a file.
    <target xsi:type="File" name="epiEventLog" fileName="${RepositoryPath}\EventLoger\${EpiProcessName}.log"
              layout="${message}" />
    -->
    
   
  </targets>

  <rules>    
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "epiEventLog"
    <logger name="*" minlevel="Debug" writeTo="epiEventLog" />
    -->
  </rules>
</nlog>
